.product-container {
    /* border: 1px solid purple; */

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5px auto;
}

.product-link-container {
    
    border: 1px solid darkslategrey;
    border-radius: 8px;
    background: rgb(245, 241, 241);   

    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    margin: 10px;
    


}

    @media screen and (max-width: 800px){
        .product-link-container {
            flex-direction: column;
        }

    }

.product-links-nav {

    padding: 5px;
    margin: 10px;

}

.product-link {
    border: 1px solid rgb(12, 126, 192);
    border-radius: 5px;

    color: rgb(17, 158, 146); 
    background: white;
    text-decoration: none;

    padding: 10px;


}

.product-info {
    border: 1px solid rgb(69, 144, 187);
    border-radius: 8px;

    color: rgb(90, 131, 219);
    background: rgb(235, 235, 233);

    width: 80%;
    display: flex;
    justify-content: center;
    
    padding: 4px;
    margin: 15px auto;

}